.trapezoid {
    border-bottom: 50px solid #ccc;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100%;
    line-height: 50px;
  }
  .bookingMovieMain {
    
  }

  .ghe {
    width: 35px;
    height: 35px;
    background-color: #a5a5a5;
    color: white;
    border-radius: 4px;
    margin: 10px;
  }
  .gheDaDat {
    background-color: #ff758f !important;
    cursor: no-drop;
  }
  .gheDangDat {
    background-color: #7bf1a8 !important;
  }
  .gheVip {
    background-color: #fcca46;
  }
  .gheDaDuocDat {
    background-color: white;
    border: 2px solid rgb(247, 207, 5);
    color: rgb(247, 207, 5);
  }
  .gheKhachDat {
    background-color: #b5179e;
    cursor: pointer;
  }

  th, td {
    padding: 30px;
    text-align: center;
  }