.ant-progress-text {
    color: white !important;
    transition: all 500ms;

}
.ant-progress:hover .ant-progress-text {
    transition: all 500ms;
    font-size: 60px;
}
.ant-rate-star-first {
    color: white;
}